body{
    background-color: darkslategray;
}

@font-face {
    font-family: GoogleSans;
    src: url("../fonts/googlesans.ttf");
}

p {
    color: aquamarine;
    font-family: GoogleSans, sans-serif;
}

a{
    text-decoration: none;
    color: wheat;
    font-family: GoogleSans, sans-serif;
}


@media only screen and (max-width: 992px) {
    #meet {
        margin-bottom: 200px;
        margin-top: 50px;
        margin-inline-start: 50px;
        font-size: 200px;
    }

    #hi {
        font-size: 40px;
        margin-inline-start: 50px;
    }

}

@media only screen and (min-width: 992px) {
    #meet {
        margin-inline-start: 80px;
        margin-top: 80px;
        margin-bottom: 50px;
        font-size: 100px;
    }

    #hi {
        font-size: 40px;
        margin-inline-start: 80px;
    }
}

